.card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  width: 100%;
  padding: 20px;
  border-radius: 12px;
  background: var(--primary);
}

.cardBG {
  background: var(--red);
  border-radius: 12px;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  user-select: none;
  -webkit-user-select: none;
}

.draggable {
  cursor: -webkit-grab;
  touch-action: none;
}

@media (hover: hover) and (pointer: fine) {
  .draggable:hover {
    transform: scale(1.1);
  }
}

.draggable:active {
  cursor: -webkit-grabbing;
  box-shadow: var(--shadow-elevation-medium);
}

.cardBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card p {
  font-weight: 700;
  font-size: var(--36px);
  color: rgba(7, 6, 12, 0.3);
  line-height: 1;
}

.card p.value {
  color: var(--text--black);
}

.card span {
  font-size: var(--16px);
  font-weight: 700;
}

.cardBlockRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.cardVote {
  gap: 10px;
  display: flex;
  cursor: pointer;
}

.cardVote span {
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 35px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-flex;
  border-radius: 50%;
}