.calculate {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.calculate button {
  max-width: 552px;
}

.dataInputs {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dataInputs p {
  font-weight: 700;
  font-size: var(--36px);
  color: var(--text-grey);
  line-height: 1;
}

.dataInputs input {
  font-weight: 700;
  font-size: var(--36px);
  color: var(--text--black);
  width: 100%;
  border: 0;
  border-radius: 12px;
  padding: 0;
}

.dataInputs input:focus {
  border: 2px solid var(--primary-color);
  padding: 8px 12px;
}

.carbs {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.carbButtons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.carbButtons button {
  position: relative;
  width: 50px;
}

.history {
  width: 100%;
  font-weight: 700;
  font-size: var(--36px);
  color: var(--text-grey);
  line-height: 1;
  text-align: left;
}

.pastMeals {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.folded {
  height: 300px;
}

.folded > div {
  width: 100%;
  position: absolute;
}

.mealList {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  gap: 40px;
}

.wrapper.login {
  justify-content: center;
  height: 100vh;
  gap: 20px;
}

.login {
  animation-duration: 300ms;
  animation-name: fadein;
}

.login input {
  border: 2px solid var(--primary);
  border-radius: 12px;
  width: 100%;
  padding: 10px;
}

.settings {
  animation-duration: 300ms;
  animation-name: fadein;
}

.settings input {
  border: 2px solid var(--primary);
  border-radius: 12px;
  width: 100%;
  padding: 10px;
}

.settingsClose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--primary);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dataInputs p.calculatedAmount {
  font-size: var(--27px);
  animation-duration: 300ms;
  animation-name: fadein;
}

.calculatedAmount span {
  color: var(--text-black)
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}