.title {
  width: 100%;
  font-weight: 700;
  font-size: var(--36px);
  color: var(--text-black);
  line-height: 1;
  text-align: left;
  margin: 50px 0;
}

.mealList {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.back {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  height: 100px;
  bottom: 0;
  padding: 0 20px;
  background: #fffffffa;
  border-top: 4px solid var(--text-black);
}

.back button {
  max-width: 552px;
}