/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


/* Colors */
:root {
  --text-black: #222;
  --text-grey: #666666;
  --primary: #FFE0CB;
  --primary-dark: #f7d6bf;
  --purple: #9C82FF;
  --yellow: #F9FEC4;
  --red: #FF8298;
  --green: #CBFFD0;

  --shadow-color: 0deg 0% 76%;
  --shadow-elevation-low:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.11),
    0.8px 1.6px 2.5px -0.8px hsl(var(--shadow-color) / 0.31);
  --shadow-elevation-medium:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.15),
    4.1px 8.1px 12.5px -0.8px hsl(var(--shadow-color) / 0.44);
  --shadow-elevation-high:
    0.3px 0.5px 0.8px hsl(var(--shadow-color) / 0.18),
    4.5px 9.1px 13.9px -0.4px hsl(var(--shadow-color) / 0.42),
    15.5px 31px 47.6px -0.8px hsl(var(--shadow-color) / 0.66);
}



/* Fonts */

html {
  --14px: 0.875rem;
  --15px: 0.9375rem;
  --16px: 1rem;
  --17px: 1.0625rem;
  --18px: 1.125rem;
  --19px: 1.1875rem;
  --20px: 1.25rem;
  --21px: 1.3125rem;
  --24px: calc(24rem / 16);
  --36px: calc(36rem / 16);
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  font-size: var(--20px);
}

p {
  color: var(--text-black);
}

b {
  font-weight: 700;
}

.wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--24px);
  align-items: center;
  width: 100%;
  max-width: 600px;
  gap: 40px;
}

.scrollWrapper {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--24px);
  padding-bottom: 120px;
  align-items: center;
  width: 100%;
  max-width: 600px;
}